<div class="education-container">
    <div class="education-title">
        <h1>Educación: _ </h1>
    </div>
      
    <div class="education-text">
        Actualmente estos son los cursos y certificaciones que conforman mi carrera como Desarrollador Web: <br><br>
    </div>
    <ul class="education-list">
        <li>- Argentina Programa - Edicion 4 <small>(2022)</small></li>
        <li>- Coderhouse - Desarrollo Web <small>(2022)</small></li>
        <li>- Programacion Orientada a objetos en C++. UTN BA <small>(2022)</small></li>
        <li>- Codecademy - C++ for Programmers Course <small>(2021)</small></li>
        <li>- Codecademy - Learn HTML Course <small>(2022)</small></li>
        <li>- Codecademy - Learn CSS Course <small>(2022)</small></li>
        <li>- Codecademy - Learn C++ Course <small>(2021)</small></li>
        <li>- Codecademy - C++ for Programmers Course <small>(2021)</small></li>
        <li>- Codecademy - Learn How to Code Course <small>(2021)</small></li> 
    </ul> 
    
  
    
    
    
           
               
</div>