<div class="about-container">
    <div class="about-title">
        <h1>Habilidades: _</h1>
    </div>
        <p class="about-text">
           Soy una persona con altas capacidades para aprender, siempre fui una persona autodidacta dedica a lo que mas me interesaba. 
           Tengo altas capacidades para trabajar en equipo. Lider nato. 
           Actualmente los lenguajes y herramientas que domino son: <br> 

 
          
           Actualmente hablo 2 idiomas, Español (nativo) e Inlges (idioma secundario). Mi mama desde muy pequeño que usa
           el ingles para comunicarse conmigo, por lo que puedo entender el idioma a la perfeccion.
        </p>
</div>
              
                
   
