<div class="contact-container">
    <div class="contact-title">
        <h1>Contacto: _</h1>
    </div>
    <div class="contact-text">
        <p>Para contactarme podes enviar un Wahtsapp al <span>+549 3435 170 520</span></p>
        <p>Mis redes sociales son:</p>
        <ul>
            <li><a href="https://www.facebook.com/nacho.saurin.52" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/nachosaurin/" target="_blank">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/nacho-saurin-32bb2624a/" target="_blank">Linkedin</a></li>
        </ul>
        
    </div>
</div>