<div class="contenedor-trabajos">
    <div class="imagen-fondo">
        <!-- <img src="./assets/fotocompu.jpg" alt=""> -->
            <div class="capa-imagen">
                <div class="titulo-pagina-trabajos">
                    <div class="iconos-educacion">
                        <!-- <span id="icono-borrar" class="material-symbols-outlined">
                            delete
                            </span>
                        <span id="icono-editar" class="material-symbols-outlined">
                            edit
                        </span> -->
                    </div>
                    <h1 id="trabajos">Trabajos: _ <span class="cursor-maquina">&#160;</span></h1>
                </div>
                <!-- La idea es hacer un textarea en la version original para asi poder escribir y editar el texto que el autor sube -->
                <div class="contenedor-articulo">  
                    <span class="articulo-personal">
                        <div class="texto-habilidades">
                            Estos son los trabajos que he realizado a lo largo de mi carrera: <br><br>
                        </div>
                        <ul class="lista-trabajos">
                            <li class="trabajos">- Trabajo de manera autonoma desde el año 2020.</li>
                            <li class="trabajos">- <a class="link-upcycled" href="https://nachosaurin.github.io/44715-proyecto_final-Julio-Ignacio-Saurin-Yugdar/">Upcycled</a> - Ropa 100% hecha a mano <small>(2022)</small></li> 
                        </ul> 
                    </span>
                </div>
        </div>
    </div>  
</div>  
